:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(20, 86, 106);
}

select {
    color: #333;
    font-size: large;
    margin-left: 50px;
}

h1{
    color: white;
    text-align: center;
}

div > #dia{
    width: 50px;
}

div > #mes{
    width: 50px;
}

div > #ano{
    width: 100px;
}

div#main{
    background-color: white;
    width: 70%;
    height: 50vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
}

div#input{
    line-height: 200%;
    padding-top: 20px;
    padding-left: 20px;
}

#botao{
    background-color: #333;
    color: white;
    
}

#botao:hover{
    background-color: black;
    color: white;
}

div#res{
    text-align: center;
    padding-top: 20px;
}

div#img{
    padding-top: 20px;
    text-align: center;
}